body {
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: #e5e4e0;
}

.foot {
    padding: 30px 30px 30px 30px;
    font-weight: 300;
    color: white;

}

.footer-fluid {
    background-color: #323232; 
}

.footer-fluid a {
    color: white;
}

.sliderwidth {
    min-width: 1200px;
    overflow: hidden;
}

.thumbnail {
    font-weight: normal;
}

.thumbnail p {
    color: gray;
}

.title-info {
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.full-width {
    min-width: 100%;
    
}

.carousel-inner {
    height: 600px;
    overflow: hidden;
    min-width: 1200px;
    max-height: 600px;
}

.auth-reg {
    height: 350px;
    overflow: hidden;
    min-width: 1200px;
    max-height: 350px;
}
.header {
    text-align: center;
}


/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.orange-block {
    background-color: #e9571b;
}

.jumbotron {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.jumbotron > h1 {
    font-size: 2em;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.brief {
    margin-bottom: 2em;
}

.pills-panel {
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 40px;
    padding-right: 40px;

}

.rule {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.mytab > li > a {
    margin-right: 0px;
    font-size: 1.3em;
    font-weight: normal;
}












